* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(28, 29, 68);
}

.title {
    text-align: center;
    padding: 30px;
    color: white;
}

.recipe {
    background-color: rgb(119, 110, 24);
    color: white;
    padding: 10px;
    width: 150px;
    margin: 10px auto;
    text-align: center;
    height: 2%;
    border: 2px white solid;
    display: block;
}