* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(28, 29, 68);
}

.title {
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 48px;
    border-bottom: 3px white solid;
    margin-bottom: 20px;
}

.menu {
    text-align: center;
}

.recipe {
    background-color: rgb(119, 110, 24);
    color: white;
    padding: 10px;
    margin: 0px 5px;
    width: 150px;
    border: 1px white solid;
    display: inline-block;
}